<h1> Create a new account </h1>
<%= form_with(url: users_path, method: 'post') do %>
  <%= label_tag(:email, "Enter email:") %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:password, "Enter password:") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Save") %>
<% end %>