<!DOCTYPE html>
<html>
  <head>
    <title>Knit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
     <div><%= link_to "Sign Out", sessions_path, method: :delete %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
